.beats-container {
  padding: 8px;
  // background-color: var(--beat-palette-background-container);
  border-radius: 20px;
  .chip {
    color: var(--beat-palette-common-white);
    font-size: 12px;
  }
}
