[phases.setup]
nixPkgs = ["python312", "pip"]

[phases.install]
cmds = ["pip install --no-cache-dir -r requirements.txt"]

[phases.build]
cmds = []

[start]
cmd = "gunicorn beats_store.wsgi:application --bind 0.0.0.0:$PORT"
