.beats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  .sort-toggle {
    .sort-btn {
      text-transform: capitalize;
      border-radius: 100px;
      color: var(--beat-palette-text-primary);
      padding: 8px 12px;
      &:hover,
      &.menu-open {
        background-color: rgba(
          var(--beat-palette-action-activeChannel) / var(--beat-palette-action-hoverOpacity)
        );
      }
      .sort-arrow {
        opacity: 0.7;
        margin-top: -2px;
      }
    }
  }
  .view-toggle {
    .view-btn {
      color: var(--beat-palette-text-primary);
    }

    // Hide view toggle on small iPad and smaller screens
    @media (max-width: 768px) {
      display: none;
    }
  }
}
